* {
    box-sizing: border-box;
 }
 h1 {
    text-align: center;
 }
 .outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
 }
 .ajax-outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
 }
 .inner-grid {
     flex: 24%;
     max-width: 24%;
     padding: 0px 30px 13px;
     /* padding: 5px 0px 15px 0; */
     border: 1px solid lightcyan;
     margin: 5px;
     

 }
 .inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }
 @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 48%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 48%;
       max-width: 100%;
       
    }
 }
 
 /* Delete Icon Image */
 .img-wraps {
     position: relative;
     display: inline-block;
     
     font-size: 0;
 }
 .img-wraps .closes {
     position: absolute;
     top: 0px;
     right: 0px;
     z-index: 100;
     background-color: #FF0000;
     padding: 4px 3px;
      
     color: #fff;
     font-weight: bold;
     cursor: pointer;
     
     text-align: center;
     font-size: 22px;
     line-height: 14px;
     border-radius: 75%;
     border:1px solid #FF0000;
 }
 .img-wraps:hover .closes {
     opacity: 1;
 }
 
 /* .example-image-link{
   height: 225px;
   min-width: 100%;
   overflow: hidden;
   margin-bottom: 10px;
 } */
 /* .divpic{
   min-width: 100%;
   min-height: 90%;
   overflow: hidden;
   margin-bottom: 10px;
 } */

 /* .example-image-link{
   min-height: 230px;
   max-height: 230px;
   overflow: hidden;
   margin-bottom: 10px;
 } */
 
 .example-image-link{
   margin: 0px 0 10px 0px;
 }

 /* .divpic{
   width:100%;
   height:400px;
   overflow:hidden;
   margin: auto;
   position:relative;
   padding-top: 30px;
 } */
 .divpic img {
      object-fit: contain;
      /* border: 2px solid lightgray; */

      max-width: 100%;
      max-height: 100%;
      margin: auto;
      display: block;
      /* position:absolute; */

}

/* .notDiv{
   background: #ddd;
    padding: 0px 10px 1px 10px;
    margin: 0px -30px -13px -30px;
} */
 
 .downstyle{
     float: right;
     /* margin: -35px 55px 0 0; */
     /* position: absolute; */
     /* margin: -240px 5px 0px 0px;*/
      margin: 0px 0px 0px 5px;
     background-color: #ddd !important;
     
 }
 
 .readable{
     color: #161616;
     font-size: 13px;
     border: 1px solid #ddd;
     background-color: #eee;
     border-radius: 5px;
     padding: 5px;
     text-decoration: none;
 }
 
 .headTitle{
     background-color: lightgray;
     border: 1px solid #ddd;
     padding: 10px 10px 10px 10px;
 }

 .preview-vid{
    margin: 10px 0 0 0px;
 }

 .gallery-vid{
    margin: 20px 0 0 0px;
 }

 .openGalPreNotes{
   background-color: #ddd !important;
 }

 .openGalNotes{
   background-color: #ddd !important;
 }

 .openPreNotes{
   background-color: #ddd !important;
 }

 .customizationNot{
   background-color: #ddd !important;
 }

 .openNotes{
   background-color: #ddd !important;
 }

 .customizationNot{
   background-color: #ddd !important;
 }

 .col-sm-2{
   font-size: 13px;
   font-weight: 600;
 }