/* The container */
.conta {
  cursor: pointer;
}

/* Hide the browser's default radio button */
.conta input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  margin: 5px;
}

/* On mouse-over, add a grey background color */
.conta:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.conta input:checked ~ .checkmark {
  background-color: #FF0000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.conta input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.conta .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  
  background: white;
}

.selectBox{
    border:2px solid #000 !important;
    opacity: 1;
}

.checko{
    background-color: #FF0000;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

