/* Large checkboxes */
/* .myinput.large {
  height: 22px;
  width: 22px;
  margin: 5px 0px 0px 0px;
} */

/* .myinput.large[type="checkbox"]:before {
  width: 20px;
  height: 20px;
}

.myinput.large[type="checkbox"]:checked:after {
  background-color: #000 !important;
  color: #fff !important;
} */

.selectCheckBox{
  opacity: 1;
    /* border:2px solid #000 !important; */
}

.myinput {
  margin: -25px 0px 0px -25px !important;
  cursor: pointer;
  height: 22px;
  width: 22px;
}

.myinput:before {
  content: "";
  height: 22px;
  width: 22px;
  //display: inline-block;
  //vertical-align:middle;
  text-align: center;
 // box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  background-color:#ccc;
}

.myinput:checked:before {
  background-color:#FF0000 !important;
  color: #fff !important;
}

.galPreview {
  margin: 5px -15px 0px 0px !important;
  cursor: pointer;
  float: right;
  height: 22px;
  width: 22px;
}

.galPreview:before {
  content: "";
  height: 22px;
  width: 22px;
  //display: inline-block;
  //vertical-align:middle;
  text-align: center;
  //box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  background-color:#ccc;
}

.galPreview:checked:before {
  background-color:#FF0000 !important;
  color: #fff !important;
}

.custome-radio{
  width: 20px;
  height: 20px;
  background: #FF0000;
  /* margin: -4px 5px 0px -72px !important; */
  margin: -6px 0px 0px -45px !important;
  float:left;
  cursor: pointer;
}
