/* Order listing page */
#kt_datatable_example_1_filter{float: right;} .txt{color: #fff !important;font-size: 11px !important; text-align: start !important; width: 97.594px !important; font-weight: bolder !important;} .tbcls{padding: 10px;border: 1px solid #000; margin: 10px; font-weight: 600;border-radius: 5px;background-color: lightgray;color:darkslategray} .modal-header{padding: 0.5rem 1rem !important;background-color: #000; color: #fff !important;}

.btn-upload{background-color: #eee;}

/* Order Modal */
/* for order details content */
.first_cont{
width: 28% !important;
}

.second_cont{
width: 43% !important;
}

.third_cont{
width: 27% !important;
}

.col-sm-4 .lab_cont label{
display: block !important;
}
.first_cont, .second_cont, .third_cont{
background-color: #fff;
overflow: hidden;
}
.first_coloumn{
box-shadow: 0px 0px 10px 1px #80808070;
padding: 10px 30px;
margin: 20px 0px ;
}
.col_first_content{
margin: 50px 0px;
}

textarea{
resize: vertical;
height: 100px;
width: 200px;
margin-bottom: 10px;
background-color: #fff;
}

.dropbtn {
color: #161616;
padding: 5px 45px;
font-size: 13px;
border: none;
cursor: pointer;
margin-left: 40px !important;
border-radius: 5px;
}
.dropdown{
margin-left: 70px ;
}

.dropbtn:hover, .dropbtn:focus {
background-color: #d2d7da;
}

.dropdown, .date, .sample_input {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f5f5f5;
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
z-index: 1;
border-radius: 5px;
margin-left: 33px;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown a:hover {background-color: #fff;}

.show {display: block;}

.date #birthday{
width: 150px;
margin-left: 135px;
height: 28;
}

.sample_input{
/* width: 150px; */
height: 28px;
}
.input_one{
margin-left: 103px;
}
.input_two{
margin-left: 104px;
}
.input_three{
margin-left: 131px;
}
.input_four{
margin-left: 97px;
}
.input_five{
margin-left: 51px;
}
.input_six{
margin-left: 15px;
}
.third_cont label{
font-size: 13px;
}
/* end */

/* Customization Image */
/* {
    box-sizing : border-box;
} */
h1 {
    text-align: center;
}
.outer-grid {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}
.ajax-outer-grid {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}
.inner-grid {
flex: 30%;
max-width: 32%;
padding: 0px 30px;
border: 1px solid lightcyan;
margin: 5px;
box-shadow: 0px 0px 14px grey;
}
.inner-grid img {
margin-top: 8px;
width: 100%;
padding: 10px;
}
@media screen and (max-width: 800px) {
    .inner-grid {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .inner-grid {
        flex: 100%;
        max-width: 100%;
    }
}


/* Delete Icon Image */
.img-wraps {
position: relative;
display: inline-block;

font-size: 0;
}
.img-wraps .closes {
position: absolute;
top: 0px;
right: 0px;
z-index: 100;
background-color: red;
padding: 4px 3px;

color: #fff;
font-weight: bold;
cursor: pointer;

text-align: center;
font-size: 22px;
line-height: 14px;
border-radius: 75%;
border:1px solid red;
}
.img-wraps:hover .closes {
opacity: 1;
}

/* Upload Image */
.upload{
border-radius: 5px;
padding: 10px 35px;
font-size: 25px;
border: 1px solid #05057f;
margin: 20px 30px;
font-weight: 350;
background-color: #fff;
color: #05057f;
}
.upload:hover{
background-color: #e3e3e37a;
}

.cus_details input{
border: 1px solid #a6a6a7;
}
.cus_details i{
margin-right: 10px;
}             
