/* Chat containers */
.main-div-container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
   
  }
  .chaty{
      margin-right: 25px;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
    margin-left: 25px;
  }
  
  /* Clear floats */
  .main-div-container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .main-div-container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .main-div-container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }
  
  .circle-div-right{
      float: right;
      border: 1px solid #999;
      padding: 12px 15px 10px 15px;
      border-radius: 50%;
      background-color: darkblue;
      color: #fff;
  }
  
  .circle-div-left{
      float: left;
      border: 1px solid #999;
      margin-right: 10px;
      padding: 12px 15px 10px 15px;
      border-radius: 50%;
      background-color: darkcyan;
      color: #fff;
  }
  /* .divpic:hover {opacity: 0.7;} */
  /* .divpic{
      width: 100%;
      height: 200px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border: 1px solid #ddd;
      margin: 20px 0px 7px 0px;
  
     float: right;
      margin: -30px 56px -10px 0;
      position: relative; 
  } */
  /* .divpic img{
    flex-shrink:0;
      -webkit-flex-shrink: 0;
      max-width:70%;
      max-height:90%;
  } */
  
  .downstyle{
      float: right;
      margin: -35px 55px 0 0;
      position: relative;
  }
  
  .readable{
      color: #161616;
      font-size: 13px;
      border: 1px solid #ddd;
      background-color: #eee;
      border-radius: 5px;
      padding: 5px;
      text-decoration: none;
  }

  .secondReadable{
   
    text-decoration: none;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #161616;
    background-color: #eee;
    background-clip: padding-box;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.475rem;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }